<div class="container">
  <h1>Students Details</h1>
  <table class="table " id="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">Dob</th>
        <th scope="col">Gender</th>
        <th scope="col">Mark</th>
        <th scope="col">Address</th>
        <th scope="col">Fee Amount</th>

      </tr>
    </thead>
    <tbody>
      @for(item of students;track item.id){
      <tr>
        <!-- Used Built in Pipes In this table -->
        <th scope="row">{{ item.name | example: item.gender | uppercase }}</th>
        <td>{{ item.dob | date:'dd/MM/yyyy' }}</td>
        <td>{{item.gender}}</td>
        <td>{{ item.mark / 100 | percent }}</td>
        <td>{{item.address | slice:0:12}}</td>
        <td>{{ item.feePaid  | currency:'INR':'symbol' }}</td>
      </tr>
    }
    </tbody>
  </table>
  *Built in Pipes are used in this table
</div>